.DS_Store
.classpath
.project
.settings/
.metadata/
target/
gateway/src/test/javascript/apitest/node_modules
/apex
/malhar
/malhar-ui-console
/console
*.iml
.idea/
*~
x-java
nb-configuration.xml
gateway/src/main/htdocs
misc/googledocs/node_modules/
plugins/metrics/package-reader/dependency-reduced-pom.xml
plugins/metrics/package-writer/dependency-reduced-pom.xml
